<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
	<test thread-count="5" parallel="none" name="Test">
		<classes>
			<class name="testcases.Login" priority="1" />
			<class name="testcases.Menu" priority="2" />
			<class name="testcases.Filter" priority="3" />
			<class name="testcases.AddtocartRemove" priority="4" />
			<class name="testcases.Back" priority="5" />
			<class name="testcases.Socialconnect" priority="6" />
			<class name="testcases.FilterandBack" priority="7" />
			<class name="testcases.Product" priority="8" />
			<class name="testcases.Checkout" priority="9" />
			<class name="testcases.ChkoutFail" priority="10" />
			<class name="testcases.ChkoutwithoutProduct" priority="11" />
			<class name="testcases.CheckoutoverviewandBackhome" priority="12" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
